*.tmp
*.bak
~$*.docx

# Kotlin
*.iml
.gradle/
.idea/
build/
out/
*.log

# C++
*.o
*.obj
*.exe
*.so
*.dll
cmake-build-*/

# OS files
.DS_Store
Thumbs.db

# JetBrains/Android Studio
*.apk
*.aab
*.cxx/
local.properties
.idea/
.gradle/
build/
capture/
*.iml

# Android Tools
platform-tools/
platform-tools.zip
cmdline-tools.zip

# Docs
docs/*.tmp
docs/~$*
